<h1>Результат</h1>
<% if @error%>
   <p><%= @error %></p>
<% else %>

   <h4>Последний элемент таблицы будет являться квадратным корнем введенного числа!
  <p>Все остальные элементы являются промежуточными вычислениями по заданному методу</p></h4>
   <table >
   <tr>
     <th>Номер элемента</th>
     <th>Значение</th>
   </tr>

   <% @mas.each_with_index do |r, idx|%>

   <tr>
     <td><%= idx+1 %></td>
     <td><%= r %></td>
   </tr>

   <% end %>
   </table>
<% end %>